:host {
    display: block;
    border: var(--border-width) solid DarkSeaGreen;
    padding: 2rem;
    border-radius: var(--border-radius);
}

h2 {
    margin-top: 0;
}
ul{
    padding-left: 0;
    font-size: 1.2rem;
    color: var(--text-color);
}
ul li {
    cursor: pointer;
}
